<div class="container-boxed max offset main-content">
    <div class="row">
        <div class="noo-main col-md-12">
            <article class="resume">
                <div class="resume-candidate-profile">
                    <div class="row">
                        <div class="col-sm-3 profile-avatar">
                            <img alt="" src="images/avatar/user_160x160.jpg" height="160" width="160">
                        </div>
                        <div class="col-sm-9 candidate-detail">
                            <div class="candidate-title clearfix">
                                <div class="pull-right">
                                    <button class="btn btn-primary">Edit Basic Profile</button>
                                </div>
                                <h2>Suresh Patel</h2>
                            </div>
                            <div class="candidate-info">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <i class="fa fa-suitcase text-primary"></i>
                                        &nbsp;&nbsp;Team Leader for Dinero Software
                                    </div>
                                    <div class="col-sm-6">
                                        <i class="fa fa-map-marker text-primary"></i>
                                        &nbsp;&nbsp;India, Mumbai
                                    </div>
                                    <div class="col-sm-6">
                                        <i class="fa fa-birthday-cake text-primary"></i>
                                        &nbsp;&nbsp;Nov 12, 1984
                                    </div>
                                    <div class="col-sm-6">
                                        <i class="fa fa-phone text-primary"></i>
                                        &nbsp;&nbsp;9892944868
                                    </div>
                                    <div class="col-sm-6 pull-right">
                                        <a href="mailto:suresh.savliya@gmail.com">
                                            <i class="fa fa-envelope text-primary"></i>
                                            &nbsp;&nbsp;suresh.savliya@gmail.com
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 pull-left"></div>
                                    <div class="candidate-social col-sm-6 pull-right">
                                        <a class="noo-icon fa fa-facebook" href="#" target="_blank"></a>
                                        <a class="noo-icon fa fa-twitter" href="#" target="_blank"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="resume-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="resume-desc">
                                <div class="resume-general row">
                                    <div class="col-sm-3">
                                        <h3 class="title-general">
                                            <span>General Infomation</span>
                                        </h3>
                                    </div>
                                    <div class="col-sm-9">
                                        <ul>
                                            <li>
                                                <span>Language</span>
                                                English
                                            </li>
                                            <li>
                                                <span>Highest Degree Level</span>
                                                Bachelor Degree
                                            </li>
                                            <li>
                                                <span>Total Year Experience</span>
                                                2
                                            </li>
                                            <li>
                                                <span>Job Category</span>
                                                Designer
                                            </li>
                                            <li>
                                                <span>Expected Job Level</span>
                                                Junior
                                            </li>
                                            <li>
                                                <span>Job Location</span>
                                                Amsterdam
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-12">
                                        <p>
                                            Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie malesuada. Pellentesque in
                                        </p>
                                    </div>
                                </div>
                                <div class="resume-timeline row">
                                    <div class="col-md-3 col-sm-12">
                                        <h3 class="title-general">
                                            <span>Summary of Skills</span>
                                        </h3>
                                    </div>
                                    <div class="col-md-9 col-sm-12">
                                        <div class="skill">
                                            <div class="pregress-bar clearfix">
                                                <div class="progress_title">
                                                    <span>Photoshop</span>
                                                </div>
                                                <div class="progress">
                                                    <div role="progressbar" aria-valuemax="100" aria-valuemin="0" class="progress-bar progress-bar-bg" aria-valuenow="90" style="width: 90%;">
                                                        <div class="progress_label"><span>90</span>%</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pregress-bar clearfix">
                                                <div class="progress_title">
                                                    <span>Illustrator</span>
                                                </div>
                                                <div class="progress">
                                                    <div role="progressbar" aria-valuemax="100" aria-valuemin="0" class="progress-bar progress-bar-bg" aria-valuenow="85" style="width: 85%;">
                                                        <div class="progress_label"><span>85</span>%</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pregress-bar clearfix">
                                                <div class="progress_title">
                                                    <span>HTML</span>
                                                </div>
                                                <div class="progress">
                                                    <div role="progressbar" aria-valuemax="100" aria-valuemin="0" class="progress-bar progress-bar-bg" aria-valuenow="100" style="width: 100%;">
                                                        <div class="progress_label"><span>100</span>%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="resume-timeline row">
                                    <div class="col-md-3 col-sm-12">
                                        <h3 class="title-general">
                                            <span>Work Experience</span>
                                        </h3>
                                    </div>
                                    <div class="col-md-9 col-sm-12">
                                        <div class="timeline-container experience">
                                            <div class="timeline-wrapper ">
                                                <div class="timeline-time">
                                                    <span>2010 - 2014</span>
                                                </div>
                                                <dl class="timeline-series">
                                                    <dt class="timeline-event">
                                                        <div class="pull-right">
                                                            <button class="btn btn-primary" onclick="alert();">Edit</button>
                                                        </div>
                                                        <a>
                                                            A&amp;T Decoration<span class="tick tick-after">Designer</span>
                                                        </a>
                                                    </dt>
                                                    <dd class="timeline-event-content">
                                                        <p>
                                                            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla porttitor accumsan tincidunt. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                                                        </p>
                                                        <br class="clear">
                                                    </dd>
                                                </dl>
                                            </div>
                                            <div class="timeline-wrapper last">
                                                <div class="timeline-time">
                                                    <span>2014 - 2015</span>
                                                </div>
                                                <dl class="timeline-series">
                                                    <dt class="timeline-event">
                                                        <a>
                                                            Envato<span class="tick tick-after">Designer</span>
                                                        </a>
                                                    </dt>
                                                    <dd class="timeline-event-content">
                                                        <p>
                                                            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla porttitor accumsan tincidunt. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                                                        </p>
                                                        <br class="clear">
                                                    </dd>
                                                </dl>
                                            </div>
                                            <div class="pull-right">
                                                <button class="btn btn-primary" onclick="alert();">Add Work Experience</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="resume-timeline row">
                                    <div class="col-md-3 col-sm-12">
                                        <h3 class="title-general">
                                            <span>Education</span>
                                        </h3>
                                    </div>
                                    <div class="col-md-9 col-sm-12">
                                        <div class="timeline-container education">
                                            <div class="timeline-wrapper ">
                                                <div class="timeline-time">
                                                    <span>1990 - 1995</span>
                                                </div>
                                                <dl class="timeline-series">
                                                    <dt class="timeline-event">
                                                        <a>
                                                            Little Elementary<span>Elementary</span>
                                                        </a>
                                                    </dt>
                                                    <dd class="timeline-event-content">
                                                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Pellentesque in ipsum id orci porta dapibus.</p>
                                                        <br class="clear">
                                                    </dd>
                                                </dl>
                                            </div>
                                            <div class="timeline-wrapper last">
                                                <div class="timeline-time">
                                                    <span>1996 - 1999</span>
                                                </div>
                                                <dl class="timeline-series">
                                                    <dt class="timeline-event">
                                                        <a>
                                                            Belford HighSchool<span>HighSchool</span>
                                                        </a>
                                                    </dt>
                                                    <dd class="timeline-event-content">
                                                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vivamus magna justo,</p>
                                                        <br class="clear">
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>